body {
	background-color: #334C80;
	color: white;
	padding-bottom: 50px;
}

#header {
	background-color: white;
	color: #334C80;
	font-size: 30px;
	text-align: center;
	padding: 25px;
}
#header a {
	text-decoration: none;
	font-size: 20px;
	color: #94B8FF;
}
#header a:visited {
	color: #CC6699;
}

table {
	background-color: #E0EBFF;
	border-collapse: collapse;
	width: 80%;
	margin: auto;
}

th {
	background-color: #94B8FF;
	color: white;
}

th, td {
	border: 1px solid black;
	text-align: left;
	padding: 10px;
}

td {
	color: #001F4C;
}

.piechart {
	max-width: 25%;
}